
.chat-container{
    height: 100vh;
}

.header button{
    position: absolute;
    top:32px;
    right :0;
    height: 30px;
    padding: 0px 10px;
    background-color: #ff0000;
}
.chat-container .main{
    height: calc(100% - 64px);
    display: flex;
}
.main .aside-left {
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}
.main .aside-left .create-conversation {
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}
.main .conversation-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 85%;;
}
.main .conversation-detail .conversation-header{
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-bottom: 1px solid rgb(218, 215, 215);
}
.conversation-detail .list-messages{
    background-color: #ffffff;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}
.conversation-detail #send-messenger-form{
    position: relative;
}
.conversation-detail #send-messenger-form .input-wrapper{
    margin-bottom: 0px;
}
.conversation-detail #send-messenger-form .input-wrapper input {
    height: 64px;
    border-top: 1px solid #dbdbdb;
}
.conversation-detail #send-messenger-form button {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-top: 1px solid #dbdbdb;
    background-color: #fff;
    
}
.conversation-detail #send-messenger-form button i{
    font-size: 24px;
    color: #037BFE;
}

/* .list-messages .messenger-container{

} */
.list-messages .message-container .content{
    border-radius: 5px;
    padding: 7px 10px;
    max-width: 40%;
    width: max-content;
    margin-bottom: 10px;
}
.list-messages .mine{
    display: flex;
    justify-content: flex-end;
}
.list-messages .mine .content{
    background-color: #037BFE;
    color: #ffffff;
    word-break: break-all;
}
.list-messages .their .content{
    background-color: #afaaaa;
    color: #2e2d2d;
    word-break: break-all;
}
.list-messenger .their .content{
    background-color:#dadbdb;

}

.chat-container .list-conversations .conversation{
    padding: 5px 10px;
    position: relative;
}
.chat-container .list-conversations .conversation .notification{
    width: 15px;
    height: 15px;
    background: #037BFE;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top : 20px;
    display: none;
}
.chat-container .list-conversations .conversation.current {
    background-color: #dbdbdb;
}

.chat-container .aside-right {
    padding: 10px;
    border-left: 1px solid #dbdbdb;
    width: 13%;
    transition : 1s;
    height: 100%;
}
.chat-container .aside-right .user {
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-container #add-user-form{
    margin-top: 12px;
}

.sidebar{
    position: absolute;
    top: 53px;
    right: 13px;
    color: #037BFE;
    display: none;
}
.show{
    position: fixed;
    display: block !important;
    right: 0;
    width: 30% !important;
    background: #fff;
}
.move-sidebar{
    right: 31%;
}
@media screen and (max-width : 768px) { 
    .aside-right{
        display: none;
    }
    .conversation-num-user{
        display: none;
    }
    .conversation{
        display: flex;
        border: 1px solid #dbdbdb;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        align-items: center;
        justify-content: center;
        margin: 5px auto;
    }
    .conversation .notification {
        top : 23px !important ;
    }
    .sidebar{
        display: block
    }
}
