*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 28px;
  background: #037BFE;
  color: #ffffff;
  position: relative;
}
.input-wrapper input{
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.input-wrapper{
  margin-bottom: 10px;
}
.btn{
  padding: 8px 20px;
  color: #ffffff;
  background: #037BFE;
  border-radius: 5px;
  cursor: pointer;
}
.btn-light {
  background: none;
  color: #333;
}
.error{
  color: #FF0000;
  margin-left: 10px;
}

.form-action span{
  font-weight: 600;
  cursor: pointer;
}
.form-action span:hover{
  color: blue;
}
.cursor-pointer{
  cursor: pointer;
}